body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center; 
    align-items: center;
    height: 100px;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  main {
    margin: 20px;
  }
  
  footer {
    background-color: #110e0e;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
  }
  
  #biography img {
    max-width: 100%;
  }
  
  #contact-form form {
    max-width: 400px;
    margin: auto;
  }


  .pic{
    display: block;
    margin: auto;

  }
  

.caption{
  text-align: center;
  margin-top: 10px;

}
  .body{
    background-color:cadetblue;
  }

  .footer1{
    top: 10000%;
    bottom: 1000%;
  }

.text1, .text2, .text3, .text4, .text5, .text6 {
  text-align: center;
  margin-top: 10px;

}

.header{
  background-color:rgb(4, 9, 6);
}
#contact-form {
  max-width: 400px;
  margin: auto;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input, #contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

#contact-form button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #555;
}

#contact-form button,#contact-form input,#contact-form textarea {
  border-radius: 15px; 
}